<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pickem"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_action_pe"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.pickem.MainActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.pickem.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.example.pickem.HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name="com.example.pickem.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.example.pickem.UserHomeActivity"
            android:label="@string/title_activity_user_home" >
        </activity>
        <activity
            android:name="com.example.pickem.PicksActivity"
            android:label="@string/title_activity_picks" >
        </activity>
        <activity
            android:name="com.example.pickem.MakePicksActivity"
            android:label="@string/title_activity_make_picks" >
        </activity>
        <activity
            android:name="com.example.pickem.JoinPoolActivity"
            android:label="@string/title_activity_join_pool" >
        </activity>
        <activity
            android:name="com.example.pickem.CreatePoolActivity"
            android:label="@string/title_activity_create_pool" >
        </activity>
        <activity
            android:name="com.example.pickem.TabActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_tab"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.example.pickem.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.example.pickem.PoolsActivity"
            android:label="@string/title_activity_pools" >
        </activity>
    </application>

</manifest>
